<div class="air">

</div>

<section class="wrapper">
  <div class="title">
    <h1>Hacker Bar</h1>
    <p class="subtitle">Hacker News at your fingertips.</p>
  </div>

  <%= image_tag "interface.png", class: "interface" %>

  <!-- <img src="assets/interface.png" class="interface"> -->

  <p class="marketing first">Hacker Bar lives in the Mac menu bar and provides a steady stream of the top news stories from Y Combinator.</p>
  <p class="marketing">Download the App today to quickly and discretely check Hacker News.</p>
  <a class="store" href="https://itunes.apple.com/us/app/hacker-bar/id752399442?ls=1&mt=12&at=10l4yY&ct=hackerbarcom"><span>Available on</span><br>the Mac App Store</a>
  <ul class="social">
    <li class="twitter"><a href="https://twitter.com/intent/tweet?source=webclient&text=Check+out+the+new+%40hackerbarapp+for+Y+Combinator+news%21+http%3A%2F%2Fwww.hackerbarapp.com%2F" target="_blank"><span>Share on Twitter</a></li>
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=hackerbarapp.com" target="_blank"><span>Share on Facebook</a></li>
  </ul>
</section>

<footer>
  Designed and Built by:<br>
  <a href="http://www.mohawkapps.com/">Mohawk Apps</a>&nbsp;+&nbsp;<a href="http://www.siftedwheat.com/">Sifted Wheat</a>
</footer>

<!-- <script src='assets/js/retina-1.1.0.min'></script> -->
